<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DEBUG</title>

    <style type="text/css">
      .common-background {
        background-color: red;
      }
    </style>

  </head>

  <body>
    <div id="root"></div>
  </body>



</html>
